<launch>
    <!-- Set ROS_IP for the ARC 2 -->
    <arg name="ros_ip" default="10.42.0.12" />
    <param name="ROS_IP" value="$(arg ros_ip)" />
    
    <!-- Start MuSHR nodes -->
    <include file="$(find mushr_base)/launch/teleop.launch"/>
    <include file="$(find mushr_base)/launch/includes/map_server.launch" />

    <include file="$(find mushr_pf)/launch/real.launch" />
    <include file="$(find mushr_rhc)/launch/real.launch" />
    <include file="$(find mushr_gp)/launch/real.launch" />
</launch>   
